* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main{

    padding-top: 50vh;
    height: 150vh;
}

.cta {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: #0B346B;
    padding: 3rem 0rem;

}

.cta h2 {
    font-size: clamp(1.5rem, 2.5vw + 0.5rem, 3rem);
    color: #ffffff;
    letter-spacing: 0.2rem;

}

.cta p {
   font-size: clamp(1rem, 1.2vw + 0.3rem, 1.3rem);
    color: #ffffff;

}

.cta-buttons {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;

}

/* BOTONES */
.btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, background-color;
}

/* ICONOS */
.btn-icon {

    height: 2rem;
    object-fit: contain;
    aspect-ratio: 1/1;

}

/* BOTÓN PRIMARIO */
.btn-primary {
    
    background-color: #FFC300;
    color: #0B346B;
    
}

.btn-primary:hover {
    background-color: #c69e17;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(212, 165, 116, 0.25);
}

/* BOTÓN SECUNDARIO */
.btn-secondary {
    border: 0.1rem solid #ffffff;
    color: #ffffff;
    will-change: transform, background-color;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
}

@media (max-width: 767px) {

    .cta{

        gap: 1.8rem;
    
    }

    .cta h2{

        width: 90%;
        text-align: center;
    }
    .cta p{

        width: 70%;
        text-align: center;
        line-height: 1.5rem;
    }

    .cta-buttons{

        gap: 1rem;
    }
}